{{ partial "header.html" . }}

<main class="content" role="main">
  <h5 class="note"><span>Hey there, this is my personal website. Welcome! It works like a Portfolio. Here I am publishing some of my academic works, but not only this. I am also posting some notes, curiosities and things of personal interest that can have no much sense without context. Anyway, if you would like to know more and contact me, please, feel free: coelhorgs@yahoo.com.br <span></h5>
  
  {{ if .Content }}
  <article class="article">
    {{ if .Title }}
    <h1 class="article-title">{{ .Title }}</h1>
    {{ end }}
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}
  <div class="archive">
    {{ $pages := .Pages }}
    {{ if .IsHome }}
    {{ $pages = .Site.RegularPages }}
    {{ end }}
    {{ range (where $pages "Section" "!=" "").GroupByDate "" }}
    <h2 class="archive-title">{{ .Key }}</h2>
    {{ range .Pages }}
    <article class="archive-item">
      <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
      
    </article>
    {{ end }}
    {{ end }}
  </div>

</main>

{{ partial "footer.html" . }}
