{{ partial "header.html" . }}

<main class="content" role="main">
  
  <div class="content">
  <h3>Hey there, I am Rony and this is my personal Portfolio. Welcome!</h3>
  <p>I am a Political Scientist and here I am publishing some of my academic works, but not only. I am also posting some notes, curiosities and things of personal interest that, sometimes, can have no much sense without context. Anyway, if you would like to know more or contact me, please, feel free: coelhorgs@yahoo.com.br</p>
  <p>(Site best seen on Desktop version)</p>
</div>
  
  {{ if .Content }}
  <article class="article">
    {{ if .Title }}
    <h1 class="article-title">{{ .Title }}</h1>
    {{ end }}
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}
  <div class="archive">
    {{ $pages := .Pages }}
    {{ if .IsHome }}
    {{ $pages = .Site.RegularPages }}
    {{ end }}
    {{ range (where $pages "Section" "!=" "").GroupByDate "" }}
    <h2 class="archive-title">{{ .Key }}</h2>
    {{ range .Pages }}
    <article class="archive-item">
      <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
      
    </article>
    {{ end }}
    {{ end }}
  </div>

</main>

{{ partial "footer.html" . }}
